#jumbotron_main {
    height: 230px;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

#search_results {
    position: absolute;
    z-index: 2; /* So buttons in favorites won't cover those in search results when focused*/
}

#alert_row {
    display: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

#buttons_row {
    margin-top: 25px;
    margin-bottom: 25px;
}

#favorites_row {
    height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 10px;
    background-color: #E9ECEF
}

#favorites {
    max-height: 250px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#recommendation_header_row {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
    background-color: #E9ECEF
}

#recommendation_row {
    height: 300px;
    margin-bottom: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    background-color: #E9ECEF
}

#movie_recommendation {
    max-height: 250px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#game_recommendation {
    max-height: 250px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#book_recommendation {
    max-height: 250px;
    margin-bottom: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    min-height: 50px;
}